html {
    pointer-events: none;
    overscroll-behavior: none;
}

:root {
  --light: #ffffff;
  --dark: #121212;
}


body {
    background-color: var(--light);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* Detected System Dark Mode */
@media (prefers-color-scheme: dark) {
    html:not([data-theme="light"]) body {
        background-color: var(--dark);
    }
}

html[data-theme="dark"] body {
    background-color: var(--dark);
}

html[data-theme="light"] body {
    background-color: var(--light);
}
