/* Default styles (Light Mode) */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Detected System Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }
}
